html {
	background-color: cadetblue;
}

h1 {
	font-family: "Poiret One";
	color: beige;
	font-size: 5em;
	text-align: center;
	border-bottom: 2px solid currentColor;
	line-height: 1.75;
	margin-bottom: 0;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;

}

p {
	font-size: 1.5em;
	font-family: 'Barlow';
	letter-spacing: 0.1em;
	color: beige;
	margin-left: 10%;
	margin-bottom: 5%;
}
a {
	color: beige;
	text-decoration: none;
}
.links {
	margin-left: 5%;
}
ul {
	width: 250px;
	list-style-type: none;
}

li {
	color: cornsilk;
	font-size: 1.5em;
	font-family: "Inconsolata", monospace;
	width: 250px;
}

img {
	float: right;
	margin-right: 5%;
}

#poke {
	width: 40px;
	float: left;
}

#gameboy {
	width: 40px;
	float: left;
}