h1 {
    font-family: Lobster;
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 4px;
    text-align: center;
}

h4 {
    font-family: Heebo;
    font-size: 25px;
    text-align: center;
}

.smaller-image {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    position: absolute;
    z-index: -1;
    margin-left: 650px;
    margin-top: -110px;
}

.larger-image {
    max-width: 100%;
    display: block;
    height: auto;
}

.thin-white-border {
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

body {
    font-family: Heebo;
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    @media (max-height: 700px) {
        /* CSS Rules */
    }
}

p {
    margin-top: 50px;
    text-align: justify;
}


h2 {
    color: white;
    text-align: center;
}
.container {
    max-width: 700px;
    width: 100%;
    margin-left: 30%;
    position: relative;
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(100, 98, 98, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form{
}
.field {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin-bottom: 5px;
    padding: 10px 0px 10px;
    text-align: center;
  
}
button {
    cursor: pointer;
    width: 250px;
    font-family: Heebo;
    background-color: #FF7F50;
    color: white;
    border-radius: 10px;
}
.subscribe {
    text-align: center;
}
.boxes {
    text-align: center;
}
img {
    margin-left: 500px;
}